body
{
	background-color: linen;
	background-image: CheckPrimeNumber.jpg;
	background-repeat: no repeat;
	background-position: right top;
}

h1
{
	color: green;
    text-align: center;
    font-family: "Times New Roman";
}

.printr{
	font-family: Comic sans MS;
	font-size: 20px;
	font-color: red;
}

.printg{
	font-family: Comic sans MS;
	font-size: 20px;
	font-color: green;
}
