body
{
	background-color: linen;
	background-image: url("CheckPrimeNumber.jpg");
	background-repeat: no-repeat;
	background-position: right top;
}

h1
{
	color: green;
    text-align: center;
    font-family: "Times New Roman";
}


