

h1
{
	color: green;
    text-align: center;
    font-family: "Times New Roman";
}

.container {
	background-image: url("CheckPrimeNumber.jpg");
	background-repeat: no-repeat;
	background-position: center;
    height:400px;
    text-align:center;
    vertical-align:middle;
    font-size:larger;
    /*color:aqua;*/
}
#output{
   color:azure;
   font-weight:bold; 

}

